@import "include-media";

$breakpoints: (
  "phone": 320px,
  "tablet": 768px,
  "small desktop": 980px,
);
.cards_container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  &.airport_active {
    margin-top: 80px;
  }

  .flight_list_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50dvw;
    max-width: 50dvw;
    min-width: 31rem;
    background: white;
    border-radius: 80px;
    overflow: hidden;

    @include media(">=small desktop", "<=1280px") {
      width: 60dvw;
      max-width: unset;
    }
    @include media(">=phone", "<=600px") {
      width: 95dvw;
      max-width: unset;
      min-width: unset;
      border-radius: 20px;
    }

    .list_header {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 10px;
      padding: 1rem 0 1rem 0;

      @include media(">=phone", "<=600px") {
        padding: 0.5rem 0 0.5rem 0;
      }

      .weather_widged {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        @include media(">=phone", "<=600px") {
          width: 100%;
          justify-content: space-evenly;
        }

        .data_time_container {
          @include media(">=phone", "<=600px") {
            font-size: 12px;
            letter-spacing: 1px;
          }
        }
      }
    }

    .main_list_of_flights {
      width: 100%;
    }
  }
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 80px;
  padding: 0 10px;
  margin-bottom: 3rem;

  h3 {
    color: red;
  }
}
