.information_wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 3fr) + 0.7fr;
  justify-items: center;
  grid-auto-rows: 3rem;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid gray;
  cursor: pointer;

  .codes {
    display: flex;
    gap: 10px;
  }

  .airport_operator_names {
    // min-width: 250px;

    span {
      white-space: normal;
      word-wrap: break-word;
    }
  }

  .arrow_wrapper {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
