@import "../../veriables.scss";

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  width: 100%;

  background: $accent_color;

  h1 {
    color: white;
    letter-spacing: 1px;
    font-style: italic;
    font-size: $header_font_size;
  }

  .logo {
    width: 80px;
    height: 80px;
  }

  .name {
    width: 200px;
    height: 60px;
  }
}
