@import "../../veriables.scss";

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  width: 100%;

  background: $accent_color;

  h1 {
    color: white;
    letter-spacing: 1px;
    font-style: italic;
    font-size: $header_font_size;
  }

  img {
    width: 80px;
    height: 80px;
  }
}
