@import "../../veriables.scss";
@import "include-media";

$breakpoints: (
  "phone": 320px,
  "tablet": 768px,
  "small desktop": 980px,
);

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  width: 100%;

  background: $base_main_color;

  @include media(">=phone", "<=tablet") {
    justify-content: space-between;
  }

  h1 {
    color: white;
    letter-spacing: 1px;
    font-style: italic;
    font-size: $header_font_size;
  }

  .name {
    width: 200px;
    height: 60px;
    @include media(">=phone", "<=600px") {
      width: 150px;
      height: 40px;
    }
  }

  .nav_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;
    font-size: 20px;

    a {
      display: block;
      color: white;
      text-decoration: none;
      &.active {
        color: $accent_color;
      }
    }
    a:hover {
      color: $accent_color;
    }
  }
}
