@import "../../veriables.scss";

.list_container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 100%;
  width: 100%;
  .pagination {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
    user-select: none;
    margin-top: 10px;
    gap: 0.5rem;
  }

  .page_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;

    &:hover {
      color: $base_main_color;
      outline: none;
      border-radius: 80px;
      background-color: rgba($color: white, $alpha: 0.2);
    }

    &.active {
      color: $base_main_color;
      border-radius: 80px;
      background-color: white;
      outline: 2px solid $base_main_color;

      &:hover {
        outline: none;
      }

      a:hover {
        color: black;
      }
    }
  }

  .next_btn,
  .prev_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 4rem;
      height: 4rem;
    }
  }

  .next_btn:hover {
    color: white;
  }

  .prev_btn:hover {
    color: white;
  }
}
