.audio_tours_container {
  background-image: url("../../assets/tickets/audio_tours.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  width: 100%;
  padding: 30px;
  text-shadow: rgb(31, 61, 96) 2px 0px 0px,
    rgb(31, 61, 96) 1.75517px 0.958851px 0px,
    rgb(31, 61, 96) 1.0806px 1.68294px 0px,
    rgb(31, 61, 96) 0.141474px 1.99499px 0px,
    rgb(31, 61, 96) -0.832294px 1.81859px 0px,
    rgb(31, 61, 96) -1.60229px 1.19694px 0px,
    rgb(31, 61, 96) -1.97999px 0.28224px 0px,
    rgb(31, 61, 96) -1.87291px -0.701566px 0px,
    rgb(31, 61, 96) -1.30729px -1.51361px 0px,
    rgb(31, 61, 96) -0.421592px -1.95506px 0px,
    rgb(31, 61, 96) 0.567324px -1.91785px 0px,
    rgb(31, 61, 96) 1.41734px -1.41108px 0px,
    rgb(31, 61, 96) 1.92034px -0.558831px 0px;
  letter-spacing: 3px;

  h2 {
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
  }

  .ref {
    a {
      background-color: white;
    }
  }
}
