// $breakpoints: (
//   "phone": 320px,
//   "tablet": 768px,
//   "small desktop": 980px,
// );

$main_font: "Poppins", sans-serif, "Space Grotesk";
$text_color: black;
$base_main_color: #1f3d60;
$dark_blue: #102644;
$base_background: #a0b6c6;
$nav_color_text: white;
$accent_color: #69b2ee;
$error_color: rgb(182, 16, 16);
$base_weight: 400;
$header_font_size: 32px;
$base_font_size: 16px;

// /* Media Queries */

// /* Tablets */
// @media only screen and (min-width: 768px) and (max-width: 979px) {
// }

// /* Typical Mobile */

// @media only screen and (min-width: 320px) and (max-width: 479px) {
// }

// /* Mobile Landscape */

// @media only screen and (min-width: 480px) and (max-width: 767px) {
// }

// /* Small desktop */

// @media only screen and (min-width: 980px) and (max-width: 1024px) {
// }
