@use "veriables";
@use "include-media" as *;

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  min-width: 0;
  background-color: veriables.$base_background;
  font-family: veriables.$main_font;
  font-weight: veriables.$base_weight;
  // height: 1000px; // TODO remove in the future
  min-height: 100dvh;
  display: flex;
  flex-direction: column;

  ul {
    list-style-type: none;
    padding: 0;
  }
}
//Prevents from scrolling the page when modal is open
html {
  // scrollbar-gutter: stable both-edges;
  scrollbar-gutter: auto both-edges; //to be test might break

  &:has(dialog[open].modal) {
    overflow: hidden;
  }
}
