@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import "./veriables.scss";

html,
body {
  width: 100%;
  max-width: 100%;
  height: 2000px;
  padding: 0;
  margin: 0;
  font-family: $main_font;
  font-weight: $base_weight;
  background-image: url("../src/assets/kevin-woblick-UdUbSPwbv2c-unsplash.jpg");
  background-size: cover;
  background-position: center center;
  background-size: 100% cover;
  background-repeat: no-repeat;

  ul {
    list-style-type: none;
    padding: 0;
  }
}

// #root {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin: 0px;
//   padding: 0px;
//   background-image: url("../src/assets/kevin-woblick-UdUbSPwbv2c-unsplash.jpg");
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center center;
//   background-size: 100% cover; // for media query background-size: 100% cover;
//   overflow-x: hidden;
// }
