@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import "./veriables.scss";

body {
  padding: 0;
  margin: 0;
  min-width: 0;
  font-family: $main_font;
  font-weight: $base_weight;
  height: 1000px; // TODO remove in the future

  ul {
    list-style-type: none;
    padding: 0;
  }
}
