$main_font: "Space Grotesk", sans-serif;
$text_color: black;
$base_main_color: #ccdbfd; // B6CCFE,C1D3FE,CCDBFD,abc4ff
$base_background: #e2eafc;
$nav_color_text: white;
$accent_color: #67b4e5;
$base_weight: 600;
$header_font_size: 24px;
$base_font_size: 16px;
