$main_font: "Space Grotesk", sans-serif;
$text_color: black;
$base_main_color: #ccdbfd; // B6CCFE,C1D3FE,CCDBFD,abc4ff
$base_background: #a0b6c6;
$nav_color_text: white;
$accent_color: #1f3d60;
$base_weight: 600;
$header_font_size: 32px;
$base_font_size: 16px;
